[submodule "Externals/SMFoundation"]
	path = Externals/SMFoundation
	url = https://github.com/javerous/framework-foundation.git
[submodule "Externals/SMTor"]
	path = Externals/SMTor
	url = https://github.com/javerous/framework-tor.git
[submodule "Externals/SMAssistant"]
	path = Externals/SMAssistant
	url = https://github.com/javerous/framework-assistant.git
[submodule "Externals/SMCryptoFile"]
	path = Externals/SMCryptoFile
	url = https://github.com/javerous/SMCryptoFile.git
