<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>RemoteMessage-Snippet</key>
	<string>&lt;div class=&quot;mc&quot; align=&quot;left&quot;&gt;&lt;table&gt;&lt;tr&gt;&lt;td width=&quot;32px&quot; class=&quot;icon-container-remote&quot; nowrap=&quot;nowrap&quot;&gt;&lt;span class=&quot;icon-container&quot;&gt;&lt;div class=&quot;icon-pres-container&quot;&gt;&lt;div class=&quot;icon-pres icon-pres-remote&quot;&gt;&lt;/div&gt;&lt;div class=&quot;icon-pres-shadow&quot;&gt;&lt;/div&gt;&lt;/div&gt;&lt;/span&gt;&lt;/td&gt;&lt;td class=&quot;message-container-remote&quot;&gt;&lt;div  class=&quot;mc-remote-sender balloon-remote&quot;&gt;&lt;div class=&quot;balloon-inside&quot;&gt;&lt;message class=&quot;message&quot;&gt;&lt;span class=&quot;fromRemote&quot;&gt;&lt;span&gt;[TEXT]&lt;/span&gt;&lt;/span&gt;&lt;/message&gt;&lt;/div&gt;&lt;/div&gt;&lt;/td&gt;&lt;td class=&quot;spacer-container&quot;&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/table&gt;&lt;/div&gt;</string>
	<key>LocalMessage-Snippet</key>
	<string>&lt;div class=&quot;mc&quot; align=&quot;right&quot;&gt;&lt;table&gt;&lt;tr&gt;&lt;td class=&quot;spacer-container&quot;&gt;&lt;/td&gt;&lt;td class=&quot;message-container-local&quot;&gt;&lt;div class=&quot;mc-local-sender balloon-local&quot;&gt;&lt;div class=&quot;balloon-inside&quot;&gt;&lt;message class=&quot;message&quot; &gt;&lt;span class=&quot;fromLocal&quot;&gt;&lt;span&gt;[TEXT]&lt;/span&gt;&lt;/span&gt;&lt;/message&gt;&lt;/div&gt;&lt;/div&gt;&lt;/td&gt;&lt;td width=&quot;32px&quot; class=&quot;icon-container-local&quot; nowrap=&quot;nowrap&quot;&gt;&lt;span class=&quot;icon-container&quot;&gt;&lt;div class=&quot;icon-pres-container&quot;&gt;&lt;div class=&quot;icon-pres icon-pres-local&quot;&gt;&lt;/div&gt;&lt;div class=&quot;icon-pres-shadow&quot;&gt;&lt;/div&gt;&lt;/div&gt;&lt;/span&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/table&gt;&lt;/div&gt;</string>
	<key>Status-Snippet</key>
	<string>&lt;div class=&quot;status&quot;&gt;&lt;div class=&quot;message-content&quot;&gt;&lt;span class=&quot;unselectable&quot;&gt;[TEXT]&lt;/span&gt;&lt;/div&gt;&lt;/div&gt;</string>
	<key>Error-Snippet</key>
	<string>&lt;div class=&quot;error&quot;&gt;&lt;div class=&quot;message-content&quot;&gt;&lt;span class=&quot;unselectable&quot;&gt;[TEXT]&lt;/span&gt;&lt;/div&gt;&lt;/div&gt;</string>
	<key>CSS-Snippet</key>
	<string>body { -webkit-user-select: none; overflow-x: auto; margin-top: 5px; font-family: Helvetica; font-size: 12px; margin-bottom: 0px; margin-left: 0px; overflow-y: auto; background-color: transparent; margin-right: 0px; }
table { border-spacing: 0px; }
div.mc { padding-top: 0px; border-bottom: solid transparent 1px; width: 100%; padding-bottom: 0px; border-top: solid transparent 1px; margin-top: -1px; padding-left: 0px; padding-right: 0px; }
td.icon-container-local { padding: 2px 12px 2px 4px; }
td.icon-container-remote { padding: 2px 4px 2px 12px; }
td { padding-bottom: 0px; padding-left: 0px; vertical-align: bottom; padding-right: 0px; padding-top: 0px; }
td.spacer-container { width: 33%; }
message { display: block; word-break: break-word; }
div.icon-pres-container { text-align: center; height: 32px; width: 32px; position: relative; border-spacing: 0px; }
div.icon-pres { border-radius: 3px; background-position: center center; min-width: 32px; background-repeat: no-repeat; min-height: 32px; background-size: 32px; background-color: white; }
div.icon-pres-shadow { left: 0px; border-top: solid 1px rgba(0, 0, 0, 0.43); border-radius: 3px; position: absolute; width: 100%; box-shadow: inset 0 1px 0 rgba(0,0,0,0.1), 0 1px 0 rgba(255, 255, 255, 0.9); border-right:
solid 1px rgba(0, 0, 0, 0.3); height: 100%; -webkit-box-sizing: border-box; border-bottom: solid 1px rgba(0, 0, 0, 0.25); border-left: solid 1px rgba(0, 0, 0, 0.3); top: 0px; }
span.unselectable { -webkit-user-select: none; }
.status { color: rgb(139,146,165); font-weight: bold; margin-left: 3px; text-align: center; margin-bottom: 3px; display: block; font-size: 11px; margin-top: 3px; margin-right: 3px; visibility: visible; }
.status .message-content { text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7); white-space: nowrap; padding-left: 10px; -webkit-user-select: text; padding-right: 10px; }
.error { color: rgb(139,146,165); font-weight: bold; font-style:italic; margin-left: 3px; text-align: center; margin-bottom: 3px; display: block; font-size: 10px; margin-top: 3px; margin-right: 3px; visibility: visible; }
.error .message-content { text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7); white-space: nowrap; padding-left: 10px; -webkit-user-select: text; padding-right: 10px; }
span.fromLocal { font-weight: normal; font-family: Helvetica; color: #000000; -webkit-user-select: text; font-size: 12px; text-shadow: 0 1px 0 rgba(255,255,255,0.55); font-style: normal; }
span.fromRemote { font-weight: normal; font-family: Helvetica; color: #000000; -webkit-user-select: text; font-size: 12px; text-shadow: 0 1px 0 rgba(255,255,255,0.55); font-style: normal; }
.icon-container { display: inline; }
td.message-container-local { text-align: right; min-width: 47px; }
.balloon-local { display: inline-block; border-bottom: 12px; text-align: left; border-top: 10px; border-right: 20px; margin-top: 5px; -webkit-border-fit: lines; border-left: 12px; }
.balloon-local &gt; div.balloon-inside { margin: -6px -3px -6px 0px; text-align: right; }
.mc-local-sender { -webkit-border-image: url([URL-RIGHT-BALLOON]) 43.478261% 51.282051% 52.173913% 30.769231% !important; }
.mc-remote-sender { -webkit-border-image: url([URL-LEFT-BALLOON]) 43.478261% 30.769231% 52.173913% 51.282051%; }
div.icon-pres-remote { background-image: url([URL-REMOTE-AVATAR]); }
div.icon-pres-local { background-image: url([URL-LOCAL-AVATAR]); }
td.message-container-remote { text-align: left;min-width: 47px; }
.balloon-remote { display: inline-block; border-bottom: 12px; text-align: left; border-top: 10px; border-right: 12px; margin-top: 5px; -webkit-border-fit: lines; border-left: 20px; }
.balloon-remote &gt; div.balloon-inside { margin: -6px 0px -6px -3px; }
@media screen and (-webkit-device-pixel-ratio:2) {
.mc-local-sender { -webkit-border-image: url([URL-RIGHT-BALLOON-2X]) 43.478261% 51.282051% 52.173913% 30.769231% !important; }
.mc-remote-sender { -webkit-border-image: url([URL-LEFT-BALLOON-2X]) 43.478261% 30.769231% 52.173913% 51.282051%; }
div.icon-pres-remote { background-image: url([URL-REMOTE-AVATAR-2X]); }
div.icon-pres-local { background-image: url([URL-LOCAL-AVATAR-2X]); }
message { } }</string>
</dict>
</plist>
